html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #212121;
    color: white;
}

.sidebar {
    width: 280px;
    margin-right: 20px;
}

.achievment-state-uncompleted {
    filter: grayscale(100%);
}

.achievment-card {
    border: 7px solid;
    border-color: chartreuse;
}
.achievment-card-uncompleted {
    border-color: darkgray;
}