@page
@model LifeAchievments.Pages.CreateEditAchievmentModel
@{
}

<body class="bg-dark text-danger">
	<div class="text-left m-6 px-6 container w-75" style="max-width: 750px;">

		@if (@Model.IsEdit)
		{
			<h1 class="text-center">
				Edit
			</h1>
		}
		else
		{
			<h1 class="text-center">
				Create
			</h1>
		}

		<form method="post" class="ml-5">

			<div class="row mb-3">
				<label for="inputName" class="col-sm-2 col-form-label text-white">Name</label>
				<div class="col-sm-10">
					<input class="form-control" id="inputName" type="text" asp-for="NewCreatingAchievment.Name" required />
				</div>
			</div>

			<div class="row mb-3">
				<label for="inputDescription" class="col-sm-2 col-form-label text-white">Description</label>

				<div class="form-group col-sm-10">
					<textarea class="form-control" id="inputDescription" rows="5" id="comment" asp-for="NewCreatingAchievment.Description" required style="height: 100px; resize:none;">
					</textarea>
				</div>
			</div>

			<div class="row mb-3">
				<label for="inputAward" class="col-sm-2 col-form-label text-white">Award</label>
				<div class="col-sm-10">
					<input class="form-control" id="inputAward" type="text" asp-for="NewCreatingAchievment.Award" />
				</div>
			</div>

			<div class="row mb-3">
				<label for="inputComment" class="col-sm-2 col-form-label text-white">Comment</label>
				<div class="col-sm-10">
					<input class="form-control" id="inputComment" type="text" asp-for="NewCreatingAchievment.Comment" />
				</div>
			</div>

			<div class="row mb-3 ml-5">
				<div class="col-sm-2">
					<label for="inputMaxAmount" class="text-white">MaxAmount</label>
					<input class="form-control" id="inputMaxAmount" type="number" asp-for="NewCreatingAchievment.MaxAmount" />
				</div>
				<div class="col-sm-2">
					<label for="inputProgress" class="text-white">Progress</label>
					<input class="form-control" id="inputProgress" type="number" asp-for="NewCreatingAchievment.Progress" />
				</div>
				<div class="col-sm-4">
					<label for="achievmentImage" class="text-white">Achievment Icon</label>
					<input class="input-group mb-3" type="file" id="achievmentImage" name="img" accept="image/*" placeholder="Achieved Icon" />
				</div>
				<div class="col-sm-4">
					<label for="unachievmentImage" class="text-white">Unachievment Icon</label>
					<input class="input-group mb-3" type="file" id="unachievmentImage" name="img" accept="image/*" placeholder="Unachieved Icon" />
				</div>
			</div>
			<button class="btn btn-primary mt-1" type="submit">Create</button>
		</form>
	</div>
</body>